<div class="hero-unit">
    <div class="row">
        <h1>{{model.appTitle}}</h1>
        <p>Have some mapping fun</p>
        <a href="#/nameForm" role="button" class="btn btn-primary btn-large" data-toggle="modal">Get Started</a>
    </div>
</div>